@page "/crear-usuario"
@rendermode InteractiveServer
@using NearDupFinder_Dominio
@using NearDupFinder_Dominio.Clases
@inject Sistema Sistema
@attribute [Authorize(Roles = "Administrador")]
@inject NavigationManager Nav

<PageTitle>Alta de Usuario</PageTitle>

@if(_error)
{
    <div class="alert alert-danger" role="alert">
        @_mensajeDeError
    </div>
}

<h1>Crear nuevo usuario</h1>

<form>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" @bind="_nombre" />
    </div>

    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" @bind="_apellido" />
    </div>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" @bind="_email" />
    </div>

    <div class="form-group">
        <label for="fecha">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="fecha" @bind="_fecha" />
    </div>
    
    <div class="form-group">
        <label>Roles</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rolAdmin" @bind="_rolAdmin" />
            <label class="form-check-label" for="rolAdmin">Administrador</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rolRevisor" @bind="_rolRevisor" />
            <label class="form-check-label" for="rolRevisor">Revisor</label>
        </div>
    </div>
    
    <div class="form-group">
        <label for="clave">Contraseña</label>
        <input type="password" class="form-control" id="clave" @bind="_clave" />
    </div>

    <button type="button" class="btn btn-primary" @onclick="CrearNuevoUsuario">Guardar cambios</button>
    <button type="button" class="btn btn-primary" @onclick="CancelarCambios">Cancelar</button>
</form>

@code {
    private string _nombre = string.Empty;
    private string _apellido = string.Empty;
    private string _email = string.Empty;
    private DateTime? _fecha;
    private string _clave = string.Empty;
    
    private bool _rolAdmin;
    private bool _rolRevisor;

    private bool _error;
    private string _mensajeDeError = string.Empty;
    
    private void CrearNuevoUsuario()
    {
        if (_fecha is null)
        {
            NotificarError("Alguno de los datos no es correcto. Volvé a ingresarlos.");
            LimpiarCampos();
            return;
        }
        
        var roles = new List<Rol>();
        if (_rolAdmin)   
            roles.Add(Rol.Administrador);
        if (_rolRevisor)
            roles.Add(Rol.Revisor);     
        
        bool creacionok = Sistema.CrearUsuario(_nombre, _apellido, _email, _fecha.Value.Year, _fecha.Value.Month,_fecha.Value.Day, _clave, roles);
        
        if (creacionok)
        {
            Nav.NavigateTo("/usuarios");
        }
        else
        {
            NotificarError("Alguno de los datos no es correcto.");
            LimpiarCampos();
            StateHasChanged();
        }
    }

    private void NotificarError(string mensaje)
    {
        _error = true;
        _mensajeDeError = mensaje;
    }

    private void LimpiarCampos()
    {
        _nombre = string.Empty;
        _apellido = string.Empty;
        _email = string.Empty;
        _fecha = null;
        _clave = string.Empty;
        _rolAdmin = false; 
        _rolRevisor = false;
    }

    private void CancelarCambios()
    {
        Nav.NavigateTo("/usuarios");
    }
}
