@page "/usuarios/{id:int}/editar/"
@rendermode InteractiveServer
@using NearDupFinder_Dominio.Clases
@attribute [Authorize(Roles = "Administrador")]
@inject Sistema Sistema
@inject NavigationManager Nav

<PageTitle>Editar Usuario</PageTitle>

@if(_error)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @_mensajeDeError
        <button type="button" class="btn-close" @onclick="CerrarAlerta" aria-label="Cerrar"></button>
    </div>
}

<h1 class="mb-3">Editar Usuario</h1>

<form>
    <div class="mb-3">
        <label class="form-label" for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" @bind="_nombre" />
    </div>

    <div class="mb-3">
        <label class="form-label" for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" @bind="_apellido" />
    </div>

    <div class="mb-3">
        <label class="form-label" for="fecha">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="fecha" @bind="_fecha" />
    </div>
    
    <div class="mb-3">
        <label class="form-label">Roles</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rolAdmin" @bind="_rolAdmin" />
            <label class="form-check-label" for="rolAdmin">Administrador</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rolRevisor" @bind="_rolRevisor" />
            <label class="form-check-label" for="rolRevisor">Revisor</label>
        </div>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="clave">Contraseña (Opcional)</label>
        <input type="password" class="form-control" id="clave" @bind="_clave" />
    </div>
    
    <div class="mt-3 d-flex gap-2">
        <button type="button" class="btn btn-primary" @onclick="Editar">Guardar cambios</button>
        <button type="button" class="btn btn-primary" @onclick="CancelarCambios">Cancelar</button>
    </div>
</form>
@code {
    [Parameter]
    public int Id { get; set; }

    private Usuario? _usuarioActual;
    
    private string _nombre = string.Empty;
    private string _apellido = string.Empty;
    private string _email = string.Empty;
    private DateTime? _fecha;
    private string _clave = string.Empty;
    
    private bool _rolAdmin;
    private bool _rolRevisor;
    
    private bool _error;
    private string _mensajeDeError = string.Empty;
    
    protected override void OnInitialized()
    {
        _usuarioActual = Sistema.BuscarUsuarioPorId(Id);
        _nombre = _usuarioActual!.Nombre;
        _apellido = _usuarioActual.Apellido;
        _email = _usuarioActual.Email.ToString();
        _fecha = _usuarioActual.FechaNacimiento.ToDateTime();
        _rolAdmin = _usuarioActual.TieneRol(Rol.Administrador);
        _rolRevisor = _usuarioActual.TieneRol(Rol.Revisor);
    }
    
    private void Editar()
    {
        CerrarAlerta();
        
        List<Rol> roles = [];
        if (_rolAdmin)   
            roles.Add(Rol.Administrador);
        if (_rolRevisor)
            roles.Add(Rol.Revisor);

        if (!ValidarCampos(_nombre, _apellido, _fecha))
            return;
        
        bool seModificoUsuarioCorrectamente = Sistema.ModificarUsuario(_nombre, _apellido, _email, _fecha!.Value.Year, _fecha.Value.Month, _fecha.Value.Day, _clave, roles);
        
        if (seModificoUsuarioCorrectamente)
        {
            Nav.NavigateTo("/usuarios");
        }
        else
        {
            NotificarError("La contraseña ingresada es incorrecta.");
            StateHasChanged();
        }
    }

    private void NotificarError(string mensaje)
    {
        _error = true;
        _mensajeDeError = mensaje;
    }

    private void CancelarCambios()
    {
        Nav.NavigateTo("/usuarios");
    }
    
    private void CerrarAlerta()
    {
        _error = false;
        _mensajeDeError = string.Empty;
    }
    
    private bool ValidarCampos(string nombre, string apellido, DateTime? fecha)
    {
        if (string.IsNullOrWhiteSpace(nombre))
        {
            NotificarError("El nombre ingresado es incorrecto");
            return false;
        }
        
        if (string.IsNullOrWhiteSpace(apellido))
        {
            NotificarError("El apellido ingresado es incorrecto");
            return false;
        }
        
        if (fecha is null)
        {
            NotificarError("La fecha ingresada es incorrecta");
            return false;
        }

        return true;
    }
}