@page "/alta-item"
@rendermode InteractiveServer
@using NearDupFinder_Dominio.Excepciones
@using NearDupFinder_LogicaDeNegocio.DTOs.ParaGestorItems
@using NearDupFinder_LogicaDeNegocio.Servicios
@using NearDupFInder_LogicaDeNegocio.Servicios.Items
@inject GestorItems GestorItems
@inject GestorCatalogos GestorCatalogos;
@inject NavigationManager Nav

<PageTitle>Crear Item</PageTitle>

<h3>Crear Item</h3>

@if (!string.IsNullOrEmpty(_mensajeError))
{
    <div class="alert alert-danger">@_mensajeError</div>
}

<div class="mb-3">
    <label for="catalogoSelect">Seleccionar Catálogo:</label>
    <select id="catalogoSelect" class="form-select" @bind="_catalogoSeleccionadoId">
        <option value="">-- Seleccione un catálogo --</option>
        @foreach (var cat in GestorCatalogos.Catalogos)
        {
            <option value="@cat.Id">@cat.Titulo</option>
        }
    </select>
</div>

<div class="mb-3">
    <label>Título:</label>
    <input class="form-control" @bind="_titulo" />
</div>

<div class="mb-3">
    <label>Descripción:</label>
    <input class="form-control" @bind="_descripcion" />
</div>

<div class="mb-3">
    <label>Categoría:</label>
    <input class="form-control" @bind="_categoria" />
</div>

<div class="mb-3">
    <label>Marca:</label>
    <input class="form-control" @bind="_marca" />
</div>

<div class="mb-3">
    <label>Modelo:</label>
    <input class="form-control" @bind="_modelo" />
</div>

<button class="btn btn-primary" @onclick="GuardarItem">Guardar</button>
<button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>

@code {
    private string _titulo = "";
    private string _descripcion = "";
    private string _categoria = "";
    private string _marca = "";
    private string _modelo = "";
    private int? _catalogoSeleccionadoId;
    private string _mensajeError = "";

    private void GuardarItem()
    {
        try
        {
            var datos = new DatosCrearItem(
                IdCatalogo: _catalogoSeleccionadoId ?? 0, 
                Titulo: _titulo,
                Descripcion: _descripcion,
                Categoria: string.IsNullOrWhiteSpace(_categoria) ? null : _categoria,
                Marca: string.IsNullOrWhiteSpace(_marca) ? null : _marca,
                Modelo: string.IsNullOrWhiteSpace(_modelo) ? null : _modelo
            );

            GestorItems.CrearItem(datos);

            Nav.NavigateTo("/lista-items");
        }
        catch (ExcepcionItem ex)
        {
            _mensajeError = ex.Message;
        }catch (ExcepcionCatalogo ex)
        {
            _mensajeError = ex.Message;
        }
    }
    
    private void Cancelar()
    {
        Nav.NavigateTo("/lista-items");
    }

}
