@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NearDupFinder</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="usuarios">
                        <i class="bi bi-people-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Usuarios</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="cambiar-clave-usuario">
                        <i class="bi bi-key-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Cambiar Contraseña</span>
                    </NavLink>
                </div>     
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="CrearCatalogo">
                        <i class="bi bi-book-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Catalogos</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="lista-items">
                        <i class="bi bi-bookmark-dash-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Items</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>