@inject SesionUsuarioActual SesionUsuarioActual
@inject GestorNotificaciones GestorNotificaciones
@using Microsoft.AspNetCore.Components.Authorization
@using NearDupFinder_LogicaDeNegocio.Servicios.Notificaciones
@using NearDupFInder_LogicaDeNegocio.Servicios.Usuarios

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NearDupFinder</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        
        <AuthorizeView Roles="Revisor, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="notificaciones">
                        <i class="bi bi-bell fs-5 lh-1" aria-hidden="true"></i>
                        <span>Notificaciones</span>

                        @if (_cantidadNoLeidas > 0)
                        {
                            <span class="badge bg-danger ms-1">@_cantidadNoLeidas</span>
                        }
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="usuarios">
                        <i class="bi bi-people-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Usuarios</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="cambiar-clave-usuario">
                        <i class="bi bi-key-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Contraseña</span>
                    </NavLink>
                </div>     
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Revisor, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="CrearCatalogo">
                        <i class="bi bi-book-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Catalogos</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Revisor, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="lista-items">
                        <i class="bi bi-bookmark-dash-fill fs-5 lh-1" aria-hidden="true"></i>
                        <span>Items</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Revisor, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="importar-csv">
                        <i class="bi bi-upload fs-5 lh-1" aria-hidden="true"></i>
                        <span>Importar</span>
                    </NavLink>
                </div>     
            </Authorized>
        </AuthorizeView>

        
        <AuthorizeView Roles="Revisor, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="duplicados">
                        <i class="bi bi-copy fs-5 lh-1" aria-hidden="true"></i>
                        <span>Duplicados</span>
                    </NavLink>
                </div>     
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Revisor, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="Cluster">
                        <i class="bi bi-diagram-3 fs-5 lh-1" aria-hidden="true"></i>
                        <span>Cluster</span>
                    </NavLink>
                </div>     
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Operario, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="ReservaStock">
                        <i class="bi bi-box-seam fs-5 lh-1" aria-hidden="true"></i>
                        <span>Reservas de Stock</span>
                    </NavLink>
                </div>     
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Revisor, Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="logs">
                        <i class="bi bi-clock-history fs-5 lh-1" aria-hidden="true"></i>
                        <span>Auditoría</span>
                    </NavLink>
                </div>     
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
private int _cantidadNoLeidas;

    protected override void OnParametersSet()
    {
        var email = SesionUsuarioActual.EmailActual;

        if (!string.IsNullOrWhiteSpace(email) &&
        email != "No hay usuario logueado")
        {
            _cantidadNoLeidas = GestorNotificaciones.ObtenerNoLeidas(email).Count;
        }
    }
}