@page "/catalogos/{Id:int}/editar"
@rendermode InteractiveServer
@using NearDupFinder_LogicaDeNegocio.DTOs.ParaGestorCatalogo
@using NearDupFInder_LogicaDeNegocio.Servicios.Catalogos
@inject GestorCatalogos GestorCatalogos;
@inject NavigationManager Nav

<PageTitle>Editar de Catalogo</PageTitle>

<h3>Editar Catalogo</h3>

@if(_error)
{
    <div class="alert alert-danger" role="alert">
        @_mensajeDeError
    </div>
}
@if (_catalogo is not null)
{
    <form>
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" @bind="_titulo"/>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <textarea type="text" class="form-control" id="descripcion" @bind="_descripcion" rows="5"></textarea>
        </div>

        <button type="button" class="btn btn-primary mt-3" @onclick="Guardar" >Guardar</button>
        <button type="button" class="btn btn-secondary mt-3" @onclick="Cancelar">Cancelar</button>
    </form>
}
else
{
    <button type="button" class="btn btn-secondary" @onclick="Cancelar">Retornar</button>
}

@code {
    [Parameter]
    public int Id { get; set;}

    private DatosPublicosCatalogo? _catalogo;
    private string _titulo = string.Empty;
    private string _descripcion = string.Empty;
    private bool _error;
    private string? _mensajeDeError;

    protected override void OnParametersSet()
    {
        
        _catalogo = GestorCatalogos.ObtenerCatalogoDtoPorId(Id);
        
        if (_catalogo is null)
        {
            NotificarError("El catalogo que deseas editar no existe.");
            return;
        }

        _error = false;
        _titulo = _catalogo.Titulo;
        _descripcion = _catalogo.Descripcion;
    }

    private void Guardar()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(_titulo))
            {
                NotificarError("El Titulo no puede ser vacio, intente nuevamente");
                return;
            }

            GestorCatalogos.ModificarCatalogo(new DatosCatalogoEditar(Id, _titulo, _descripcion));
            
            Nav.NavigateTo("/CrearCatalogo");
        }catch (Exception ex)
        {
            NotificarError(ex.Message);
        }
    }

    private void Cancelar() => Nav.NavigateTo("/CrearCatalogo");
    
    private void NotificarError(string mensaje)
    {
        _error = true;
        _mensajeDeError = mensaje;
    }
}
